doctype html
block vars
  - var page = ""
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block head
  body(id=page)
    .wrapper
      block empty
        .header
          include header
        .content
          block content
        .footer
          include footer
    block js

